<form class="{{cssClass}} flex !flex-1 flex-col">
	{{!-- Header --}}
	<div class="flex bg-teal-600 w-full p-3 gap-4 items-center">
		<img class="w-14 h-14 -m-2" src="{{ actor.img }}" data-edit="img" alt="{{ actor.name }}" />
		<input type="text" name="name" value="{{ actor.name }}" class="!border-0 !text-white !text-3xl !h-full !font-roboto-flex uppercase focus:normal-case !bg-none" />
	</div>
</form>
