<div class="w-full text-center text-xl {{#if isGM}}text-teal-800{{else}}text-fuchsia-900{{/if}}">
	{{#if store}}
		<span>{{ localize 'ChatMessages.StoreMomentum' }}</span>
	{{else}}
		<span>{{ localize 'ChatMessages.SpendMomentum' }}</span>
	{{/if}}
</div>
