<div class="w-full text-center text-xl text-teal-800">
	{{#if store}}
		<span>{{ localize 'ChatMessages.StoreThreat' }}</span>
	{{else}}
		<span>{{ localize 'ChatMessages.SpendThreat' }}</span>
	{{/if}}
</div>
