<form class="{{ cssClass }} flex !flex-1 flex-col gap-1 items-center min-h-10 bg-white bg-opacity-50">
	{{!-- Item Header --}}
	{{> systems/dreams-and-machines/templates/item/partials/item-header.hbs }}

	{{!-- Description --}}
	{{> systems/dreams-and-machines/templates/item/partials/item-description.hbs }}
</form>
