<form class="{{ cssClass }} flex !flex-1 flex-col gap-1 items-center min-h-10">
	{{!-- Item Header --}}
	{{> systems/dreams-and-machines/templates/item/partials/item-header.hbs }}

	{{!-- Description --}}
	{{> systems/dreams-and-machines/templates/item/partials/item-description.hbs }}

	{{!-- Archetype --}}
	<input type="text" name="system.archetype" value="{{ system.archetype }}" class="!py-5 !bg-black uppercase focus:normal-case !text-3xl !text-center !text-white placeholder:text-white placeholder:oblique placeholder:opacity-80 placeholder:text-xl" placeholder="{{ localize "TYPES.Item.archetype" }}" />
</form>
